<div class="container d-flex flex-column  justify-content-center align-items-center pt-5">
 <li class="list-group-item d-flex justify-content-start gap-4 align-items-star mt-5 item">
  <span><img src="https://picsum.photos/id/64/200" class="card-img-top imgs" alt="..."></span>
  <span class="d-flex justify-content-start gap-4 align-items-start">
   name: <%= @user.name %>
  <span class="badge bg-primary rounded-pill"> number of posts: <%= @user.posts.count %> </span>
  </span>
  </li>
  <% @user.posts.each do |post| %>
    <li class="list-group-item d-flex justify-content-between align-items-start mt-5 item">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Post # <%= post.id%></div>
      <%= post.text  %>
    </div>
    <div class=" d-flex justify-content-between gap-2 align-items-start">
    <span class="badge bg-primary rounded-pill">Comments: <%= post.comments.count%></span>
    <span class="badge bg-primary rounded-pill">Likes:<%= post.likes.count %></span>
    </div>
  </li>
  <ul class="list-group-item item mt-2 ">
   <% post.recent_comments.each do |comment| %>
 <li class="list-group-item">username:  <%= User.find(comment.user_id).name %> comment:  <%= comment.text%> </li> 
  <%end%>
  </ul>
  <%end%>
  <div class='d-flex justify-content-center align-items-center pt-5'>
  <%= link_to "Create new Post", new_user_post_path, class: "btn btn-success ms-3" %>
  </div>
</div>